.chatroom {
  width: 100%;
  height: 600px;
  color: rgba(0, 175, 175, 1);
  max-height: 90vh;
  /* background-color: hsla(0, 0%, 78.4%, 0.9); */
  border-radius: 3px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  letter-spacing: normal;
  overflow: hidden;
  box-shadow: 0 0 0 2px hsla(0, 0%, 100%, 0.8);
  border: 1px solid rgba(0, 175, 175, 1);
}
.chatroom,
.chatroom * {
  box-sizing: border-box;
}
.chatroom.closed {
  height: 40px;
}
.chatroom h3 {
  /* background-color:#5689f7; */
  background: rgba(0, 175, 175, 1);
  color: #fff;
  margin: 0;
  height: 40px;
  font-weight: 600;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.chatroom .chats {
  box-sizing: border-box;
  padding: 10px 5px;
  margin: 0;
  height: calc(100% - 80px);
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.chatroom .chats::-webkit-scrollbar {
  width: 1px;
}

.chatroom .chats::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 175, 175, 0.1);
}

.chatroom .chats::-webkit-scrollbar-thumb {
  background-color: rgba(0, 175, 175, 0.5);
  outline: 1px solid rgba(0, 175, 175, 0);
}

.chatroom .chats .chat {
  background: hsla(0, 0%, 100%, 0.8);
  position: relative;
  padding: 5px 2px 5px 1px;
  font-size: 14px;
  border-radius: 10px;
  list-style: none;
  float: left;
  clear: both;
  margin: 10px 0 0;
  max-width: 99%;
  width: 92%;
  /* border: 1px solid rgba(0, 175, 175, 1); */
}
.chatroom .chats .chat img {
  max-width: 100%;
  vertical-align: middle;
}
.chatroom .chats .chat.left {
  border-bottom-left-radius: 0;
  /* color: #ffffff; */
}
.chatroom .chats .chat.left::before {
  content: url(../assets/bot-icon-36.svg);
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px 0 0;
}
.chatroom .chats .chat.right {
  float: right;
  clear: both;
  /* background-color: rgba(0, 175, 175, 1); */
  color: #ffffff;
  border-bottom-right-radius: 0;
}
.chatroom .chats .chat.right::after {
  content: url(../assets/user-icon-36.svg);
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 5px;
}
.chatroom .chats .chat .text {
  word-wrap: break-word;
  border: 1px solid rgba(0, 175, 175, 1);
  padding: 10px 13px;
  border-radius: 10px;
  display: inline-block;
  width: calc(100% - 41px);
  min-width: 50px;
}
.chatroom .chats .chat.left .text {
  border-bottom-left-radius: 0;
  /* background: rgb(0, 175, 175);
  background: linear-gradient(
    0deg,
    rgba(0, 175, 175, 1) 0%,
    rgba(0, 136, 136, 1) 100%
  ); */
}

.chatroom .chats .chat.right .text {
  border-bottom-right-radius: 0;
  /* background-color: rgba(0, 175, 175, 1); */
  background: rgb(0, 175, 175);
  background: linear-gradient(
    180deg,
    rgba(0, 175, 175, 1) 0%,
    rgba(0, 136, 136, 1) 100%
  );
}
.chatroom .chats .chat.chat-img {
  padding: 5px;
}
.chatroom .chats .chat a {
  text-decoration: none;
  color: #3498db;
}
.chatroom .chats .chat ol,
.chatroom .chats .chat ul {
  margin: 0;
  padding-left: 1.5em;
}
.chatroom .chats .chat ol li,
.chatroom .chats .chat ul li {
  padding-left: 0;
}
.chatroom .chats .chat.waiting {
  margin: 10px 0;
  background: transparent;
  padding: 0;
}
@keyframes fade {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.chatroom .chats .chat.waiting span {
  font-size: 1.5em;
  animation-name: fade;
  animation-duration: 1ms;
  animation-iteration-count: 10;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
.chatroom .chats .chat.waiting span:first-child {
  animation-delay: 0s;
}
.chatroom .chats .chat.waiting span:nth-child(1) {
  animation-delay: 1s;
}
.chatroom .chats .chat.waiting span:nth-child(2) {
  animation-delay: 2s;
}
.chatroom .chats .time {
  list-style: none;
  clear: both;
  height: 10px;
  font-size: 10px;
  color: #414141;
  margin: 5px 5px 10px 5px;
}
.chatroom .chats .time.left {
  float: left;
}
.chatroom .chats .time.right {
  float: right;
}
.chatroom .chats .chat-buttons {
  position: relative;
  padding: 0;
  font-size: 14px;
  list-style: none;
  clear: both;
  margin: 10px 0;
  text-align: center;
}
.chatroom .chats .chat-buttons .chat-button {
  display: inline-block;
  transition: all 0.3s ease;
  cursor: pointer;
  margin: 3px;
  background-color: #337ab7;
  color: #fff;
  border: 2px solid #fff;
  padding: 5px 10px;
  letter-spacing: normal;
  border-radius: 5px;
}
.chatroom .chats .chat-buttons .chat-button.chat-button-selected,
.chatroom .chats .chat-buttons .chat-button:hover {
  background-color: rgba(52, 61, 78, 0.6);
  color: #fff;
}
.chatroom .chats .chat-buttons .chat-button.chat-button-disabled {
  color: darkgray;
  border: 2px solid grey;
  background-color: grey;
}
.chatroom .input {
  height: 40px;
  width: 100%;
  margin: 0;
  padding: 0 1px;
  /* background-color:#5689f7; */
  background: rgb(0, 175, 175);
  background: linear-gradient(
    180deg,
    rgba(0, 175, 175, 1) 0%,
    rgba(0, 136, 136, 1) 100%
  );
  display: flex;
  flex-direction: row;
  align-items: center;
}
.chatroom .input input[type="text"] {
  /* background-color: hsla(0, 0%, 100%, 0.8); */
  background: none;
  outline: 0;
  /* border: 1px solid #fff; */
  border: none;
  border-right: none;
  color: #fff;
  padding: 0 5px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  height: 30px;
  flex: 4;
  box-sizing: border-box;
  font-size: 14px;
  transition: background-color 0.2s ease;
}
.chatroom .input input[type="text"]:focus {
  box-shadow: none;
  /* background-color: #fff; */
  background: transparent;
}
.chatroom .input input[type="submit"] {
  display: inline-block;
  background: transparent;
  /* background: #5689f7; */
  /* border: 1px solid #fff; */
  border: none;
  color: #fff;
  height: 30px;
  /* min-width: 70px; */
  line-height: 1;
  text-align: center;
  padding: 0;
  font-size: 12px;
  /* flex: 1; */
  box-shadow: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  cursor: pointer;
  transition: all 0.3s ease;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  outline: none;
  font-weight: 600;
  text-transform: uppercase;
}
.chatroom .input input[type="button"] {
  display: inline-block;
  /* background: #5689f7; */
  background: transparent;
  /* border: 1px solid #fff; */
  border: none;
  color: #fff;
  height: 25px;
  min-width: 70px;
  line-height: 1;
  text-align: center;
  padding: 0;
  font-size: 10px;
  flex: 1;
  box-shadow: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  cursor: pointer;
  transition: all 0.3s ease;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  outline: none;
  font-weight: 600;
  text-transform: uppercase;
}

.chatroom .input input[type="submit"] {
  background: url("../assets/send.svg") no-repeat center;
  width: 24px;
  height: 24px;
  color: rgba(0, 175, 175, 1);
  text-indent: -20rem;
  text-overflow: initial;

  /* background: hsla(0, 0%, 100%, 0.8); */
}
.chatroom .input input[type="submit"]:hover {
  /* background: hsla(0, 0%, 100%, 0.8); */
}
.chatroom .input input[type="button"]:hover {
  /* background: hsla(0, 0%, 100%, 0.8); */
}
.chatroom #speech-input {
  height: 30px;
  width: 30px;
  margin-left: 5px;
  /* background: #5689f7; */
  /* background: rgba(0, 175, 175, 1); */
  /* border: 1px solid #fff; */
  background: transparent;
  border: none;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.chatroom #speech-input:hover {
  /* background: hsla(0, 0%, 100%, 0.8); */
}
.chatroom .vertical-center {
  vertical-align: middle;
}
